    <footer>
        <div class="footer">
            © Copyright <span id="yr"></span> WebDev Blog
        </div>
    </footer>
    <script>
        let year = document.getElementById('yr').innerHTML = new Date().getFullYear();
    </script>