<header>
        <div class="navbar">
            <div class="nav-wrapper">
                <a href="/"><img src="/media/logo.png" class="nav-logo"></a>
                <input type="checkbox" class="nav-toggle" id="nav-toggle">
                <ul class="nav">
                    <li><a href="/" class="nav-link">Home</a></li>
                    <li><a href="/all_articles" class="nav-link">Blog</a></li>
                    <li><a href="#" class="nav-link">About</a></li>
                </ul>
                <label for="nav-toggle" class="nav-toggle-label"><span></span></label>
            </div>
        </div>
    </header>