---
title: Blog | WebDev Blog
layout: 'base.njk'
---
    <section>
        <h1 class="blog-title">Blog</h1>
        <div class="blogs-container">
            {% for post in collections.post | reverse %}
                <div class="article">
                    <div><img src={{ post.data.image }} alt={{ post.data.imageAlt }} class="article-img"></div>
                    <div class="article-details">
                        <h2 class="less-margin">{{ post.data.title }}</h2>
                        <h5 class="less-margin color-lt">By {{ post.data.author }} on {{ post.data.date | postDate }}</h5>
                        <p>{{ post.data.description }}</p>
                        <a href={{ post.url }} class="article-link">Continue reading</a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </section>