---
title: Legend Coder
layout: 'base.njk'
---
    <section class="hero-section">
        <div class="hero">
            <h1 class="section-title">Welcome to the 'Legend Coder Coder' blog!</h1>
            <p>I use this space to document my adventures in coding with some tips and tricks that I found helpful and cheatsheets of some of the important topics that are essential in coding.</p>
            <p>Below are some of my favourite articles, or you can go to the blog page to see my most recent posts.</p>
        </div>
        <div>
            <img src="https://images.pexels.com/photos/577585/pexels-photo-577585.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" alt="" class="hero-img">
        </div>
    </section>
    <section class="featured-section">
        <div class="featured-div">
            <h1 class="f-head">Featured Articles</h1>
            {% for post in collections.featured | reverse %}
                <div class="article">
                    <div><img src={{ post.data.image }} alt={{ post.data.imageAlt }} class="article-img"></div>
                    <div class="article-details">
                        <h2 class="less-margin">{{ post.data.title }}</h2>
                        <h5 class="less-margin color-lt">By {{ post.data.author }} on {{ post.data.date | postDate }}</h5>
                        <p>{{ post.data.description }}</p>
                        <a href={{ post.url }} class="article-link">Continue reading</a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </section>